{{> header}}
<div class="container">
<form action="/category/new" method="POST">
 <div class="form-group">
        <label for="category">Category</label>
<input type="text" name="category" placeholder="Category" class="form-control">
        </div>
<div class="form-group">
<button type="submit" class="btn btn-success">Submit</button>   
    </div>
</form>
</div>
{{> footer}}