{{> header }}
<a href="/category"><button type="submit" class="btn btn-warning">Audit</button>
    
</a>
<a href="/userconsole"><button type="submit" class="btn btn-warning">User-console</button>
    
</a>

{{> footer }}